<h2 style="color:blue; text-align:center;" > Data Collection <h2>

In [1]:
import pandas as pd
import data_science as ds
from rdkit import Chem
import subprocess

The database is going to be loaded

In [3]:
database = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/row_database/DB_for_chromophore_Sci_Data_rev02.csv')
database

,Tag,Chromophore,Solvent,Absorption max (nm),Emission max (nm),Lifetime (ns),Quantum yield,log(e/mol-1 dm3 cm-1),abs FWHM (cm-1),emi FWHM (cm-1),abs FWHM (nm),emi FWHM (nm),Molecular weight (g mol-1),Reference
0,1,N#Cc1cc2ccc(O)cc2oc1=O,O,355.0,410.00,2.804262,NaN,NaN,NaN,NaN,NaN,NaN,187.15370,DOI: 10.1021/acs.jpcb.5b09905
1,2,N#Cc1cc2ccc([O-])cc2oc1=O,O,408.0,450.00,3.961965,NaN,NaN,NaN,NaN,NaN,43.0,186.14576,DOI: 10.1021/acs.jpcb.5b09905
2,3,CCCCCCCCCCCC#CC#CCCCCCCCCCN1C(=O)c2ccc3c4ccc5c...,ClC(Cl)Cl,526.0,535.00,3.602954,NaN,NaN,NaN,NaN,NaN,NaN,1061.54348,https://doi.org/10.1002/smll.201901342
3,4,[O-]c1c(-c2nc3ccccc3s2)cc2ccc3cccc4ccc1c2c34,CC#N,514.0,553.72,3.810000,NaN,NaN,NaN,NaN,NaN,67.4,350.42028,https://doi.org/10.1016/j.snb.2018.10.043
4,5,[O-]c1c(-c2nc3ccccc3s2)cc2ccc3cccc4ccc1c2c34,CS(C)=O,524.0,555.00,4.700000,NaN,NaN,NaN,NaN,58.0,50.0,350.42028,https://doi.org/10.1016/j.snb.2018.10.043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20231,20232,N#Cc1c(N2CCCC2)cc(-c2ccccc2)c2c1C(=O)c1ccccc1-2,C1CCOC1,358.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350.41992,DOI: 10.1021/ol9000679
20232,20233,N#Cc1c(N2CCCCC2)cc(-c2ccccc2)c2c1C(=O)c1ccccc1-2,C1CCOC1,348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,364.44680,DOI: 10.1021/ol9000679
20233,20234,N#Cc1c(N2CCCCC2)cc(-c2cccc3ccccc23)c2c1C(=O)c1...,C1CCOC1,344.0,460.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,414.50668,DOI: 10.1021/ol9000679
20234,20235,N#Cc1c(N2CCCCC2)cc(-c2ccc3ccccc3c2)c2c1C(=O)c1...,C1CCOC1,346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,414.50668,DOI: 10.1021/ol9000679
20235,20236,N#Cc1c(N2CCCCC2)cc(-c2ccc3ccc4cccc5ccc2c3c45)c...,C1CCOC1,344.0,473.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488.58856,DOI: 10.1021/ol9000679

¿Which columns are in the database?

In [4]:
database.columns

Index(['Tag', 'Chromophore', 'Solvent', 'Absorption max (nm)',
       'Emission max (nm)', 'Lifetime (ns)', 'Quantum yield',
       'log(e/mol-1 dm3 cm-1)', 'abs FWHM (cm-1)', 'emi FWHM (cm-1)',
       'abs FWHM (nm)', 'emi FWHM (nm)', 'Molecular weight (g mol-1)',
       'Reference'],
      dtype='object')

Show the basic information

In [5]:
ds.info(database)

                          name  non-nulls  nulls     type
0                          Tag      20236      0    int64
1                  Chromophore      20236      0   object
2                      Solvent      20236      0   object
3          Absorption max (nm)      17295   2941  float64
4            Emission max (nm)      18142   2094  float64
5                Lifetime (ns)       6960  13276  float64
6                Quantum yield      13837   6399  float64
7        log(e/mol-1 dm3 cm-1)       8041  12195  float64
8              abs FWHM (cm-1)        747  19489  float64
9              emi FWHM (cm-1)        627  19609  float64
10               abs FWHM (nm)       3592  16644  float64
11               emi FWHM (nm)       7198  13038  float64
12  Molecular weight (g mol-1)      20236      0  float64
13                   Reference      20236      0   object

<h4 style="color:yellow; text-align:center;"> Photoluminiscence Quantum Yield Target </h4>

The quantum yield has some empty cells so, its necessary to filter this data, and create a subdatabase
with the chromophores and solvent smiles

In [6]:
subdatabase_plqy = database[['Chromophore','Solvent','Quantum yield']].dropna().copy().reset_index(drop=True)
subdatabase_plqy

,Chromophore,Solvent,Quantum yield
0,O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12,O,0.950
1,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,1.000
2,O=C([O-])c1ccccc1-c1c2cc(Br)c(=O)c(Br)c-2oc2c(...,O,0.200
3,O=C([O-])c1ccccc1-c1c2cc(I)c(=O)c(I)c-2oc2c(I)...,O,0.020
4,O=C([O-])c1c(Cl)c(Cl)c(Cl)c(Cl)c1-c1c2cc(I)c(=...,O,0.018
...,...,...,...
13832,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,0.300
13833,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,0.240
13834,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,0.440
13835,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,0.900
13836,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,0.790

---------------------------

<h3 style="color:blue;"> Unique ID for the fluorophores and solvents </h3>

¿How many unique chromophores and solvents are in this PLQY database?

In [7]:
# Its necessary concatenated the chromphore and solvent data 
plqy_unique = subdatabase_plqy['Chromophore'].to_list() + subdatabase_plqy['Solvent'].to_list()
plqy_unique = pd.Series(plqy_unique).unique()
plqy_unique = pd.DataFrame({'SMILES':plqy_unique})
plqy_unique

                                                 SMILES
0     O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12
1     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...
2     O=C([O-])c1ccccc1-c1c2cc(Br)c(=O)c(Br)c-2oc2c(...
3     O=C([O-])c1ccccc1-c1c2cc(I)c(=O)c(I)c-2oc2c(I)...
4     O=C([O-])c1c(Cl)c(Cl)c(Cl)c(Cl)c1-c1c2cc(I)c(=...
...                                                 ...
5726  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...
5727  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...
5728  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...
5729  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...
5730                             CN(C)P(=O)(N(C)C)N(C)C

[5731 rows x 1 columns]

Which type of atoms are in this database

In [8]:
# Your SMILES string
elements = []

for i in plqy_unique['SMILES']:
   # Convert the SMILES string to an RDKit molecule object
   mol = Chem.MolFromSmiles(i)

   # Iterate through each atom in the molecule
   for atom in mol.GetAtoms():
      if atom.GetSymbol() not in elements:
          elements.append(atom.GetSymbol())

elements

['O',
 'C',
 'N',
 'Br',
 'I',
 'Cl',
 'Si',
 'S',
 'F',
 'P',
 'B',
 'Ge',
 'Sn',
 'Se',
 'Te',
 'Na',
 'H']

In [9]:
three_row = ['H','He','Li','Be','B','C','N','O','F','Ne','Na','Mg','Al','Si','P','S','Cl','Ar']

Which chromophores has elementes that are not part of the first three rows

In [10]:
to_delete = []
for i,k in enumerate(plqy_unique['SMILES']):
   # Convert the SMILES string to an RDKit molecule object
   mol = Chem.MolFromSmiles(k)

   # Iterate through each atom in the molecule
   for atom in mol.GetAtoms():
      if atom.GetSymbol() not in three_row:
          to_delete.append(i) # list of index to be deleted

In [11]:
to_delete = list(set(to_delete)) # erasing duplicates
to_delete[:5]

[2, 3, 4, 2050, 2051]

Its necessary to delete all the elements that are not in the first three rows of the periodic table

In [12]:
plqy_unique.drop(index=to_delete,inplace=True)

In [13]:
plqy_unique.reset_index(drop=True)

                                                 SMILES
0     O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12
1     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...
2                                        c1ccc2ccccc2c1
3                             C[Si](C)(C)c1cccc2ccccc12
4                C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12
...                                                 ...
5486  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...
5487  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...
5488  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...
5489  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...
5490                             CN(C)P(=O)(N(C)C)N(C)C

[5491 rows x 1 columns]

Verification:

In [14]:
# Your SMILES string
elements = []

for i in plqy_unique['SMILES']:
   # Convert the SMILES string to an RDKit molecule object
   mol = Chem.MolFromSmiles(i)

   # Iterate through each atom in the molecule
   for atom in mol.GetAtoms():
      if atom.GetSymbol() not in elements:
          elements.append(atom.GetSymbol())

elements

['O', 'C', 'N', 'Si', 'S', 'F', 'Cl', 'P', 'B', 'Na', 'H']

<p style="color:green;"> Everything OK! </p>

<h4 style="color:orange;"> Charge </h4>

Its necessary to add the charge of every molecule to the dataframe

In [15]:
# Example SMILES string
# example = 'O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12' -> -2  # Choline, which has a total charge of +1
charges = []
for i in plqy_unique['SMILES']:
    # Convert the SMILES string to an RDKit molecule object
    mol = Chem.MolFromSmiles(i)

    # Calculate the total charge by summing the formal charge of each atom
    total_charge = sum(atom.GetFormalCharge() for atom in mol.GetAtoms())
    charges.append(total_charge)

In [16]:
plqy_unique['CHARGE'] = charges

In [17]:
# Filter the molecules with a charge greater than 0
plqy_unique[plqy_unique['CHARGE']>0]

                                                 SMILES  CHARGE
25                  CN(C)c1ccc2nc3ccc(N(C)C)cc3[s+]c2c1       1
47                                        Nc1cccc[nH+]1       1
164   Cc1cc(=O)oc2cc(/[NH+]=C/C=C3/C=C(C(=O)O)NC(C(=...       1
165   O=C(O)C1=C/C(=C/C=[NH+]/c2ccc3c(C(F)(F)F)cc(=O...       1
254   Cn1c(/C=C/c2ccc(/C=C/c3nc4ccccc4[nH]3)cc2)[n+]...       1
...                                                 ...     ...
5499  CCCCCCCCOc1cc(/C=C/c2cc[n+](Cc3ccc(C)cc3)cc2)c...       2
5503  CC1=CC(=[N+]2CCC2)C=C2C1=Nc1c(C)cc(N3CCC3)cc1[...       1
5504  C[Si]1(C)C2=CC(=[N+]3CCC3)C=C(F)C2=Nc2c(F)cc(N...       1
5507    CN1/C(=C/C=N/c2sc3ccccc3[n+]2C)C(C)(C)c2ccccc21       1
5508  CN1/C(=C/C=C/C=N/c2sc3ccccc3[n+]2C)C(C)(C)c2cc...       1

[271 rows x 2 columns]

In [265]:
# Filter the molecules with a charge less than 0
plqy_unique[plqy_unique['CHARGE']<0]

                                                 SMILES  CHARGE
0     O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12      -2
37    CN1/C(=C/C=C/C2=[N+](CCCCCC(=O)O)c3ccc(S(=O)(=...      -1
299   CCN(CC)c1ccc2c(-c3ccc(S(=O)(=O)[O-])cc3S(=O)(=...      -1
348   O=C([O-])c1ccc(C2=c3cc4c5c(c3Oc3c2cc2c6c3CCCN6...      -1
349   O=C([O-])c1ccc(C(=O)[O-])c(C2=c3cc4c5c(c3Oc3c2...      -1
...                                                 ...     ...
4627        C/C=C/C=C/C1=N/C(=C\c2ccc([O-])cc2)C(=O)N1C      -1
4801    CN(C)c1ccc2c(C(=O)NCc3ccccc3)cc(C(=O)[O-])nc2c1      -1
5091  CC1(C)C(/C=C/C2=C(c3ccc(C(=O)O)cc3)/C(=C/C=C3/...      -1
5092  CC1(C)C(/C=C/C2=C(c3ccc(C(=O)O)cc3)/C(=C/C=C3/...      -1
5093  CC1(C)C(/C=C/C2=C(c3ccc(C(=O)O)cc3)/C(=C/C=C3/...      -3

[61 rows x 2 columns]

In [18]:
id = plqy_unique[plqy_unique['CHARGE']==0]

In [19]:
id

                                                 SMILES  CHARGE
1     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...       0
5                                        c1ccc2ccccc2c1       0
6                             C[Si](C)(C)c1cccc2ccccc12       0
7                C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12       0
8                         COc1ccc([Si](C)(C)C)c2ccccc12       0
...                                                 ...     ...
5726  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...       0
5727  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...       0
5728  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...       0
5729  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...       0
5730                             CN(C)P(=O)(N(C)C)N(C)C       0

[5159 rows x 2 columns]

In [20]:
id.drop(columns=['CHARGE'],inplace=True)
id

                                                 SMILES
1     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...
5                                        c1ccc2ccccc2c1
6                             C[Si](C)(C)c1cccc2ccccc12
7                C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12
8                         COc1ccc([Si](C)(C)C)c2ccccc12
...                                                 ...
5726  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...
5727  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...
5728  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...
5729  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...
5730                             CN(C)P(=O)(N(C)C)N(C)C

[5159 rows x 1 columns]

In [21]:
# Add the ID column
id.reset_index(drop=True,inplace=True)
id['ID'] = id.index
id

                                                 SMILES    ID
0     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...     0
1                                        c1ccc2ccccc2c1     1
2                             C[Si](C)(C)c1cccc2ccccc12     2
3                C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12     3
4                         COc1ccc([Si](C)(C)C)c2ccccc12     4
...                                                 ...   ...
5154  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...  5154
5155  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...  5155
5156  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...  5156
5157  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...  5157
5158                             CN(C)P(=O)(N(C)C)N(C)C  5158

[5159 rows x 2 columns]

Saving the ID database

In [270]:
# id.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/ID.csv',index=False)

In [22]:
id = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/ID.csv',index_col=False)

In [272]:
id

                                                 SMILES    ID
0     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...     0
1                                        c1ccc2ccccc2c1     1
2                             C[Si](C)(C)c1cccc2ccccc12     2
3                C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12     3
4                         COc1ccc([Si](C)(C)C)c2ccccc12     4
...                                                 ...   ...
5154  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...  5154
5155  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...  5155
5156  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...  5156
5157  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...  5157
5158                             CN(C)P(=O)(N(C)C)N(C)C  5158

[5159 rows x 2 columns]

¿How to encounter the ID of a SMILE in the dataframe?

In [23]:
id[id['SMILES']=='CN(C)P(=O)(N(C)C)N(C)C']['ID'].to_list()

[5158]

The following two blocks are a validation test for a random molecule

In [25]:
id.iloc[5158]

SMILES    CN(C)P(=O)(N(C)C)N(C)C
ID                          5158
Name: 5158, dtype: object

<p style="color:green;"> Everything OK! </p>

---------------------------

<h3 style="color:blue;"> Filtering the database with fluorophores and solvents </h3>

From the subdatabase_plqy will be eliminated the rows with compounds that contain elements not in the 
three first rows

In [28]:
to_delete = []
for i,k in enumerate(subdatabase_plqy['Chromophore']):
   # Convert the SMILES string to an RDKit molecule object
   mol = Chem.MolFromSmiles(k)

   # Iterate through each atom in the molecule
   for atom in mol.GetAtoms():
      if atom.GetSymbol() not in three_row:
          to_delete.append(i) # list of index to be deleted

for i,k in enumerate(subdatabase_plqy['Solvent']):
   # Convert the SMILES string to an RDKit molecule object
   mol = Chem.MolFromSmiles(k)

   # Iterate through each atom in the molecule
   for atom in mol.GetAtoms():
      if atom.GetSymbol() not in three_row:
          to_delete.append(i) # list of index to be deleted

In [30]:
to_delete = list(set(to_delete)) # erasing duplicates
to_delete[:5]

[8193, 2, 3, 4, 5]

In [278]:
subdatabase_plqy

,Chromophore,Solvent,Quantum yield
0,O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12,O,0.950
1,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,1.000
2,O=C([O-])c1ccccc1-c1c2cc(Br)c(=O)c(Br)c-2oc2c(...,O,0.200
3,O=C([O-])c1ccccc1-c1c2cc(I)c(=O)c(I)c-2oc2c(I)...,O,0.020
4,O=C([O-])c1c(Cl)c(Cl)c(Cl)c(Cl)c1-c1c2cc(I)c(=...,O,0.018
...,...,...,...
13832,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,0.300
13833,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,0.240
13834,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,0.440
13835,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,0.900
13836,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,0.790

In [279]:
subdatabase_plqy.drop(index=to_delete,inplace=True)

In [280]:
subdatabase_plqy.reset_index(drop=True,inplace=True)

In [281]:
subdatabase_plqy

,Chromophore,Solvent,Quantum yield
0,O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12,O,0.95
1,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,1.00
2,c1ccc2ccccc2c1,C1CCCCC1,0.23
3,C[Si](C)(C)c1cccc2ccccc12,C1CCCCC1,0.30
4,C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12,C1CCCCC1,0.33
...,...,...,...
13329,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,0.30
13330,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,0.24
13331,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,0.44
13332,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,0.90
13333,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,0.79

Delete molecules that are not in the ID.csv file (that means that have some charge)

In [31]:
to_delete = []
for i,k in enumerate(subdatabase_plqy['Chromophore']):
     if id[id['SMILES'] == k]['ID'].to_list() != [] :
         pass
     else:
         to_delete.append(i)

In [32]:
for i,k in enumerate(subdatabase_plqy['Solvent']):
    if id[id['SMILES'] == k]['ID'].to_list() != [] :
        pass
    else:
        to_delete.append(i)

In [33]:
to_delete = list(set(to_delete))
subdatabase_plqy.drop(index=to_delete,inplace=True)

In [34]:
subdatabase_plqy.reset_index(drop=True,inplace=True)

In [35]:
subdatabase_plqy

,Chromophore,Solvent,Quantum yield
0,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,1.00
1,c1ccc2ccccc2c1,C1CCCCC1,0.23
2,C[Si](C)(C)c1cccc2ccccc12,C1CCCCC1,0.30
3,C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12,C1CCCCC1,0.33
4,COc1ccc([Si](C)(C)C)c2ccccc12,C1CCCCC1,0.65
...,...,...,...
12665,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,0.30
12666,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,0.24
12667,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,0.44
12668,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,0.90
12669,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,0.79

Creation of the solvent database for the plqy subset

In [287]:
# subdatabase_plqy.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/database_plqy.csv',index=False)

In [36]:
subdatabase_plqy = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/database_plqy.csv')
subdatabase_plqy

,Chromophore,Solvent,Quantum yield
0,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,1.00
1,c1ccc2ccccc2c1,C1CCCCC1,0.23
2,C[Si](C)(C)c1cccc2ccccc12,C1CCCCC1,0.30
3,C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12,C1CCCCC1,0.33
4,COc1ccc([Si](C)(C)C)c2ccccc12,C1CCCCC1,0.65
...,...,...,...
12665,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,Cc1cc(C)c(-c2cc(-c3c(C)cc(C)cc3C)c3ccc4c(-c5c(...,0.30
12666,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,Cc1cc(C)c(C)c(-c2cc(-c3c(C)c(C)cc(C)c3C)c3ccc4...,0.24
12667,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,COc1cc(C)c(-c2cc(-c3c(C)cc(OC)cc3C)c3ccc4c(-c5...,0.44
12668,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,0.90
12669,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,0.79

A database only with the solvents (include the typical solvent definition and the solid state molecules)

In [37]:
subdatabase_plqy['Solvent'].unique().shape

(617,)

In [38]:
solvent_id = []
solvent_smiles = []
for i in subdatabase_plqy['Solvent']:
    solvent_id.append(id[id['SMILES']==i]['ID'].to_list()[0])
solvent_id = list(set(solvent_id))

for i in solvent_id:
    solvent_smiles.append(id[id['ID']==i]['SMILES'].to_list()[0])

display(len(solvent_id))
display(len(solvent_smiles))

617

617

In [39]:
df_solvent = pd.DataFrame({'ID':solvent_id,'SMILES':solvent_smiles})
df_solvent

       ID                                             SMILES
0    4096  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
1    4097  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
2    4098  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
3    4099  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
4    4100  Cc1cc(C)c(B(c2c(C)cc(C)cc2C)c2cc3ccc4ccccc4c3c...
..    ...                                                ...
612  4091    COc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2)cc1
613  4092   CCOc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2)cc1
614  4093  CCCOc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2)cc1
615  4094  CCCCOc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2...
616  4095  CC1=[N+]2C(=C(c3ccccc3)c3ccc(/C=C/c4ccc(C(=C(c...

[617 rows x 2 columns]

test

In [40]:
df_solvent[df_solvent['SMILES']=='ClCCl']

       ID SMILES
204  5051  ClCCl

In [293]:
# df_solvent.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/database_solvent.csv',index=False)

In [53]:
pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/database_solvent.csv')

       ID                                             SMILES
0    4096  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
1    4097  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
2    4098  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
3    4099  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
4    4100  Cc1cc(C)c(B(c2c(C)cc(C)cc2C)c2cc3ccc4ccccc4c3c...
..    ...                                                ...
612  4091    COc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2)cc1
613  4092   CCOc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2)cc1
614  4093  CCCOc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2)cc1
615  4094  CCCCOc1ccc(/C=C/C=C/C=C/c2ccc([N+](=O)[O-])cc2...
616  4095  CC1=[N+]2C(=C(c3ccccc3)c3ccc(/C=C/c4ccc(C(=C(c...

[617 rows x 2 columns]

In [50]:
df_solvent.iloc[100]

ID                                    604
SMILES    C[Si]1(C)C(c2ccccc2)=Cc2ccccc21
Name: 100, dtype: object

Creation of the database only with the chromophores

In [51]:
to_delete = []
for i,k in enumerate(df_solvent['ID']):
    if id[id['ID'] == k]['ID'].to_list() != []:
        to_delete.append(i)

database_chromophores = id.drop(index=to_delete).copy()
database_chromophores

                                                 SMILES    ID
617                             COc1ccccc1C#Cc1ccccc1OC   617
618                   C1#Cc2ccccc2OCc2ccccc2COc2ccccc21   618
619                 C1#Cc2ccccc2OCc2cccc(c2)COc2ccccc21   619
620         Cc1c(C)c(C)c2c(c1C)COc1ccccc1C#Cc1ccccc1OC2   620
621   c1ccc2c(c1)-c1sc3ccccc3c1C21c2ccccc2-c2sc3cccc...   621
...                                                 ...   ...
5154  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...  5154
5155  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...  5155
5156  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...  5156
5157  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...  5157
5158                             CN(C)P(=O)(N(C)C)N(C)C  5158

[4542 rows x 2 columns]

In [296]:
# database_chromophores.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/database_chromophores.csv',index=False)

In [52]:
pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/database_chromophores.csv')

                                                 SMILES    ID
0                               COc1ccccc1C#Cc1ccccc1OC   617
1                     C1#Cc2ccccc2OCc2ccccc2COc2ccccc21   618
2                   C1#Cc2ccccc2OCc2cccc(c2)COc2ccccc21   619
3           Cc1c(C)c(C)c2c(c1C)COc1ccccc1C#Cc1ccccc1OC2   620
4     c1ccc2c(c1)-c1sc3ccccc3c1C21c2ccccc2-c2sc3cccc...   621
...                                                 ...   ...
4537  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...  5154
4538  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...  5155
4539  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...  5156
4540  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...  5157
4541                             CN(C)P(=O)(N(C)C)N(C)C  5158

[4542 rows x 2 columns]

---------------------------------------

<h3 style="color:yellow;">  Boron and Fluor containing compounds </h3>

In [54]:
id

                                                 SMILES    ID
0     O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...     0
1                                        c1ccc2ccccc2c1     1
2                             C[Si](C)(C)c1cccc2ccccc12     2
3                C[Si](C)(C)c1ccc([Si](C)(C)C)c2ccccc12     3
4                         COc1ccc([Si](C)(C)C)c2ccccc12     4
...                                                 ...   ...
5154  O=P(c1ccccc1)(c1ccccc1)c1ccc([Si](c2ccccc2)(c2...  5154
5155  c1ccc2c(c1)c1ccccc1n2-c1ccc(N(c2ccc(-n3c4ccccc...  5155
5156  CC(C)c1cc(C(C)C)c(-c2ccc(-n3c4ccccc4n4c5ccccc5...  5156
5157  O=P(c1ccccc1)(c1ccccc1)c1ccc2sc3cccc(P(=O)(c4c...  5157
5158                             CN(C)P(=O)(N(C)C)N(C)C  5158

[5159 rows x 2 columns]

In [55]:
lista = []
for i,k in enumerate(id['SMILES'],start=0):
    mol = Chem.MolFromSmiles(k)
    B = False
    F = False
    for atoms in mol.GetAtoms():
        if atoms.GetSymbol() == 'B':
            B = True
        if atoms.GetSymbol() == 'F':
            F = True
    if not(F and B):
        lista.append(i)
lista = list(set(lista))

In [56]:
lista[:5]

[0, 1, 2, 3, 4]

In [58]:
bf_compounds = id.drop(index=lista).copy().reset_index(drop=True)
bf_compounds

                                                SMILES    ID
0    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    19
1    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    20
2    CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...    46
3    COc1ccccc1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n2c(C...    47
4    COc1cccc(OC)c1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n...    48
..                                                 ...   ...
619  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5cc(C(C)(C)C)c...  4986
620  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)c(OC)c(O...  4987
621  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)cc(OC)c(...  4988
622  F[B-]12Oc3ccccc3-c3c4[n+]5c(c([n+]31)-c1ccccc1...  5017
623  CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...  5034

[624 rows x 2 columns]

In [63]:
# bf_compounds.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/id_database_bf.csv',index=False)

In [64]:
bf_compounds = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/id_database_bf.csv')
bf_compounds

                                                SMILES    ID
0    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    19
1    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    20
2    CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...    46
3    COc1ccccc1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n2c(C...    47
4    COc1cccc(OC)c1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n...    48
..                                                 ...   ...
619  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5cc(C(C)(C)C)c...  4986
620  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)c(OC)c(O...  4987
621  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)cc(OC)c(...  4988
622  F[B-]12Oc3ccccc3-c3c4[n+]5c(c([n+]31)-c1ccccc1...  5017
623  CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...  5034

[624 rows x 2 columns]

filtering the subset_plqy to for the bf compound

In [65]:
lista = []
for i,k in enumerate(subdatabase_plqy['Chromophore']):
    if bf_compounds[bf_compounds['SMILES'] == k]['ID'].to_list() == []:
        # if the chromophore is not in the bf_compounds add the index to list
        lista.append(i)
subdatabase_plqy.drop(index=lista)
database_bf_plqy = subdatabase_plqy.drop(index=lista).copy().reset_index(drop=True)
database_bf_plqy

,Chromophore,Solvent,Quantum yield
0,CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...,Cc1ccccc1,0.57
1,CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...,Cc1ccccc1,0.45
2,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC#N,0.52
3,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC(C)=O,0.46
4,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC(=O)C(C)(C)C,0.55
...,...,...,...
1844,COc1ccc(-c2cc3c(s2)=CC2=C(C(F)(F)F)c4cc5sc(-c6...,ClC(Cl)Cl,0.37
1845,COc1ccc(-c2cc3c(s2)=CC2=C(C(F)(F)F)c4cc5sc(-c6...,C1CCOC1,0.39
1846,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,Cc1ccccc1,0.25
1847,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,ClC(Cl)Cl,0.25
1848,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,C1CCOC1,0.15

In [312]:
# database_bf_plqy.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_bf_plqy.csv',index=False)

In [66]:
database_bf_plqy = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_bf_plqy.csv')
database_bf_plqy

,Chromophore,Solvent,Quantum yield
0,CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...,Cc1ccccc1,0.57
1,CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...,Cc1ccccc1,0.45
2,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC#N,0.52
3,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC(C)=O,0.46
4,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC(=O)C(C)(C)C,0.55
...,...,...,...
1844,COc1ccc(-c2cc3c(s2)=CC2=C(C(F)(F)F)c4cc5sc(-c6...,ClC(Cl)Cl,0.37
1845,COc1ccc(-c2cc3c(s2)=CC2=C(C(F)(F)F)c4cc5sc(-c6...,C1CCOC1,0.39
1846,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,Cc1ccccc1,0.25
1847,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,ClC(Cl)Cl,0.25
1848,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,C1CCOC1,0.15

Id of fluorophores related with BF compounds

In [67]:
chromo_id_bf = []
chromo_smiles_bf = []
for i in database_bf_plqy['Chromophore']:
    chromo_id_bf.append(id[id['SMILES']==i]['ID'].to_list()[0])
    # id_database_plqy has to be used because database_chromophores_bf doesn't contain the solvents
    
chromo_id_bf = list(set(chromo_id_bf)) # erasing duplicates

for i in chromo_id_bf:
    chromo_smiles_bf.append(id[id['ID']==i]['SMILES'].to_list()[0])

display(len(chromo_id_bf))
display(len(chromo_smiles_bf))

624

624

test

In [68]:
chromo_smiles_bf[16]

'CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4[B-]3(F)F)c3ccccc32)c1C'

In [69]:
database_bf_plqy[database_bf_plqy['Chromophore']== 'CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4[B-]3(F)F)c3ccccc32)c1C']

,Chromophore,Solvent,Quantum yield
1455,CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4...,CCCCCC,0.93
1456,CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4...,Cc1ccccc1,0.71
1457,CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4...,ClCCl,0.72
1458,CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4...,C1CCOC1,0.27
1459,CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4...,CC#N,0.21
1460,CCc1c(C)[nH]c(C2=[N+]3C(=C(C)c4c(C)c(CC)c(C)n4...,CO,0.21

In [70]:
df_chromo_bf = pd.DataFrame({'ID':chromo_id_bf,'SMILES':chromo_smiles_bf})
df_chromo_bf

       ID                                             SMILES
0    2048  COc1cccc(C2=c3c(c4ccc(C(C)(C)C)cc4c4cc(C(C)(C)...
1    2049  COc1ccc2c3c(c4ccc(OC)cc4c2c1)=[N+]1C(=C(c2c(C)...
2    4096  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
3    4097  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
4    4098  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
..    ...                                                ...
619  2043  CC(C)(C)c1ccc(C2=CC3=C(c4ccccc4)c4cc(-c5ccc(C(...
620  2044  CC(C)(C)c1ccc(C2=C(c3ccc(C(C)(C)C)cc3)C(c3ccc(...
621  2045  COc1cccc(C2=C(c3ccc(C(C)(C)C)cc3)C(c3ccc(C(C)(...
622  2046  CC(C)(C)c1ccc2c3c(c4ccc(C(C)(C)C)cc4c2c1)=[N+]...
623  2047  CC(C)(C)c1ccc(C2=c3c(c4ccc(C(C)(C)C)cc4c4cc(C(...

[624 rows x 2 columns]

In [317]:
# df_chromo_bf.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_fluorophores_bf.csv',index=False)

In [71]:
pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_fluorophores_bf.csv')

       ID                                             SMILES
0    2048  COc1cccc(C2=c3c(c4ccc(C(C)(C)C)cc4c4cc(C(C)(C)...
1    2049  COc1ccc2c3c(c4ccc(OC)cc4c2c1)=[N+]1C(=C(c2c(C)...
2    4096  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
3    4097  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
4    4098  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
..    ...                                                ...
619  2043  CC(C)(C)c1ccc(C2=CC3=C(c4ccccc4)c4cc(-c5ccc(C(...
620  2044  CC(C)(C)c1ccc(C2=C(c3ccc(C(C)(C)C)cc3)C(c3ccc(...
621  2045  COc1cccc(C2=C(c3ccc(C(C)(C)C)cc3)C(c3ccc(C(C)(...
622  2046  CC(C)(C)c1ccc2c3c(c4ccc(C(C)(C)C)cc4c2c1)=[N+]...
623  2047  CC(C)(C)c1ccc(C2=c3c(c4ccc(C(C)(C)C)cc4c4cc(C(...

[624 rows x 2 columns]

Id of solvents related with BF compounds

In [72]:
solvent_id_bf = []
solvent_smiles_bf = []
for i in database_bf_plqy['Solvent']:
    solvent_id_bf.append(id[id['SMILES']==i]['ID'].to_list()[0])
    # id_database_plqy has to be used because database_chromophores_bf doesn't contain the solvents
solvent_id_bf = list(set(solvent_id_bf))

for i in solvent_id_bf:
    solvent_smiles_bf.append(id[id['ID']==i]['SMILES'].to_list()[0])

display(len(solvent_id_bf))
display(len(solvent_smiles_bf))

81

81

test

In [73]:
solvent_smiles_bf[16]

'F[B-]1(F)Oc2ccccc2-c2nc(-c3ccccc3)c3cc(Cl)ccc3[n+]21'

In [74]:
database_bf_plqy[database_bf_plqy['Solvent']== 'C1CCCCC1']

,Chromophore,Solvent,Quantum yield
30,F[B-]1(F)n2c(Nc3cccc4cccnc34)ccc2C(c2ccccc2)=C...,C1CCCCC1,0.170
84,CCc1c(C)c2n(c1C)[B-](F)(F)[N+]1=C(C=C3C=Cc4ccc...,C1CCCCC1,0.020
85,CCc1c(C)c2n(c1C)[B-](F)(F)[N+]1=C(C=C3c4ccccc4...,C1CCCCC1,0.730
205,CCN(CC)c1ccc(/C=C/C2=[O+][B-](F)(F)Oc3c2c(=O)o...,C1CCCCC1,0.460
279,C#CCNC1=C2C=CC=[N+]2[B-](F)(F)n2cccc21,C1CCCCC1,0.999
...,...,...,...
1729,F[B-]1(F)n2cccc2C=C2C=CC=[N+]21,C1CCCCC1,0.960
1735,C#CCNC1=C2C=CC=[N+]2[B-](F)(F)n2cccc21,C1CCCCC1,0.930
1740,C#CCNC1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n2c(C)cc(C...,C1CCCCC1,0.230
1746,CNC1=C2C=CC=[N+]2[B-](F)(F)n2cccc21,C1CCCCC1,0.700
1752,CC(C)(C)NC1=C2C=CC=[N+]2[B-](F)(F)n2cccc21,C1CCCCC1,0.630

In [75]:
df_solvent_bf = pd.DataFrame({'ID':solvent_id_bf,'SMILES':solvent_smiles_bf})
df_solvent_bf

      ID                                             SMILES
0   4096  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
1   4097  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
2   4098  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
3   4099  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
4   5124                                         CN1CCCC1=O
..   ...                                                ...
76  4079  F[B-]1(F)OC(c2ccccc2)=Cc2cc3[n+](c[n+]21)[B-](...
77  5106                                           CC1CCCO1
78  5107                                        CC(C)OC(C)C
79  5118                                            CCC(C)C
80  4095  CC1=[N+]2C(=C(c3ccccc3)c3ccc(/C=C/c4ccc(C(=C(c...

[81 rows x 2 columns]

In [323]:
# df_solvent_bf.to_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_solvent_bf.csv',index=False)

In [76]:
df_solvent_bf = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_solvent_bf.csv')

In [240]:
df_solvent_bf

      ID                                             SMILES
0   4096  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
1   4097  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
2   4098  CC1=[N+]2C(=C(c3ccc(C(=C(c4ccccc4)c4ccccc4)c4c...
3   4099  F[B-]1(F)n2c(/C=C/c3ccc(C(=C(c4ccccc4)c4ccccc4...
4   5124                                         CN1CCCC1=O
..   ...                                                ...
76  4079  F[B-]1(F)OC(c2ccccc2)=Cc2cc3[n+](c[n+]21)[B-](...
77  5106                                           CC1CCCO1
78  5107                                        CC(C)OC(C)C
79  5118                                            CCC(C)C
80  4095  CC1=[N+]2C(=C(c3ccccc3)c3ccc(/C=C/c4ccc(C(=C(c...

[81 rows x 2 columns]

Copy the xyz files that has boro and fluor to in a new folder

In [ ]:
def linux_command_queue(command):
    process = subprocess.Popen(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    # Wait for the process to complete and capture output/errors
    # Capture the output and error, if any
    output, error = process.communicate()

    # Decode the output and error from bytes to strings
    output_str = output.decode('utf-8').strip()
    error_str = error.decode('utf-8').strip()

    return output_str,error_str

In [ ]:
id_subset = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/id_database_bf.csv')
id_subset

                                                SMILES    ID
0    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    19
1    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    20
2    CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...    46
3    COc1ccccc1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n2c(C...    47
4    COc1cccc(OC)c1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n...    48
..                                                 ...   ...
619  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5cc(C(C)(C)C)c...  4986
620  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)c(OC)c(O...  4987
621  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)cc(OC)c(...  4988
622  F[B-]12Oc3ccccc3-c3c4[n+]5c(c([n+]31)-c1ccccc1...  5017
623  CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...  5034

[624 rows x 2 columns]

In [ ]:
origin = '/home/exl/Documents/Projects/Doctorade/Thesis/Results/database/structures/xyz/'
destination = '/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/structures/xyz'
command = "cp {0} {1}".format(origin,destination)

for i in id_subset['ID']:
    command = "cp {0} {1}".format(origin+str(i)+'.*',destination)
    linux_command_queue(command)

    command = "cp {0} {1}".format(origin+'s0_'+str(i)+'.*',destination)
    linux_command_queue(command)

---------------------------------------

<h3 style="color:orange;">  Boron and Fluor containing compounds in methanol and chloroform </h3>

Copy the xyz files that has boro and fluor in methanol and chloroform to in a new folder

In [4]:
database_bf_plqy = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/database_bf_plqy.csv')

In [7]:
database_bf_plqy

,Chromophore,Solvent,Quantum yield
0,CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...,Cc1ccccc1,0.57
1,CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...,Cc1ccccc1,0.45
2,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC#N,0.52
3,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC(C)=O,0.46
4,CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...,CC(=O)C(C)(C)C,0.55
...,...,...,...
1844,COc1ccc(-c2cc3c(s2)=CC2=C(C(F)(F)F)c4cc5sc(-c6...,ClC(Cl)Cl,0.37
1845,COc1ccc(-c2cc3c(s2)=CC2=C(C(F)(F)F)c4cc5sc(-c6...,C1CCOC1,0.39
1846,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,Cc1ccccc1,0.25
1847,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,ClC(Cl)Cl,0.25
1848,CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...,C1CCOC1,0.15

In [8]:
database_bf_plqy['Solvent'].value_counts().head(10)

Solvent
ClCCl        327
Cc1ccccc1    221
CC#N         206
C1CCOC1      184
ClC(Cl)Cl    148
CO           145
CCCCCC       118
CCOC(C)=O     99
C1CCCCC1      86
CN(C)C=O      47
Name: count, dtype: int64

In [10]:
id_database_f = pd.read_csv('/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/id_database_bf.csv')
id_database_f

                                                SMILES    ID
0    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    19
1    CCCCC(CC)CN1C(=O)C2=C(c3ccc(-c4ccc(C5=C6C(C)=C...    20
2    CC1=CC(C)=[N+]2C1=C(c1ccccc1)c1c(C)cc(C)n1[B-]...    46
3    COc1ccccc1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n2c(C...    47
4    COc1cccc(OC)c1C1=C2C(C)=CC(C)=[N+]2[B-](F)(F)n...    48
..                                                 ...   ...
619  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5cc(C(C)(C)C)c...  4986
620  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)c(OC)c(O...  4987
621  COc1cc2c3c4c(c5ccc(C(C)(C)C)cc5c5c(OC)cc(OC)c(...  4988
622  F[B-]12Oc3ccccc3-c3c4[n+]5c(c([n+]31)-c1ccccc1...  5017
623  CC(C)(C)c1ccc(C2=CC(c3ccccc3)=[N+]3C2=Nc2c(-c4...  5034

[624 rows x 2 columns]

In [21]:
for n in database_bf_plqy[database_bf_plqy['Solvent'] == 'CO']['Chromophore']:
    id = id_database_f[id_database_f['SMILES']==n]['ID']
    id = int(id.item())
    subprocess.run(['cp','/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/structures/xyz/{0}.xyz'.format(id),
                    '/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/methanol_and_chloroform_subset/structures/xyz/'],capture_output=True,text=True)
    
    subprocess.run(['cp','/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/structures/xyz/s0_{0}.inp'.format(id),
                    '/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/methanol_and_chloroform_subset/structures/xyz/'],capture_output=True,text=True)
    
for n in database_bf_plqy[database_bf_plqy['Solvent'] == 'ClC(Cl)Cl']['Chromophore']:
    id = id_database_f[id_database_f['SMILES']==n]['ID']
    id = int(id.item())
    subprocess.run(['cp','/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/structures/xyz/{0}.xyz'.format(id),
                    '/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/methanol_and_chloroform_subset/structures/xyz/'],capture_output=True,text=True)

    subprocess.run(['cp','/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/structures/xyz/s0_{0}.inp'.format(id),
                '/home/exl/Documents/Projects/Doctorade/Thesis/Results/database_bf/methanol_and_chloroform_subset/structures/xyz/'],capture_output=True,text=True)

137 fluorophores in chloroform were encountered (xyz file exist), 129 fluorophores in methanol were encountered (xyz file exist)

---------------------------------------

<h4 style="color:yellow; text-align:center;"> Time Target </h4>

In [241]:
time = database[['Chromophore','Solvent','Lifetime (ns)','Quantum yield']].dropna().copy().reset_index(drop=True)

In [242]:
time

,Chromophore,Solvent,Lifetime (ns),Quantum yield
0,O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12,O,4.160,0.950
1,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,4.590,1.000
2,O=C([O-])c1ccccc1-c1c2cc(Br)c(=O)c(Br)c-2oc2c(...,O,1.425,0.200
3,O=C([O-])c1ccccc1-c1c2cc(I)c(=O)c(I)c-2oc2c(I)...,O,0.115,0.020
4,O=C([O-])c1c(Cl)c(Cl)c(Cl)c(Cl)c1-c1c2cc(I)c(=...,O,0.095,0.018
...,...,...,...,...
6090,O=C1c2ccccc2-c2nc3ccccc3n21,ClCCl,5.100,0.040
6091,O=C1c2ccccc2-c2nc3c(F)c(F)c(F)c(F)c3n21,ClCCl,9.500,0.220
6092,O=C1c2ccccc2C2=Nc3cccc4cccc(c34)N12,ClCCl,0.860,0.020
6093,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,6.310,0.900
6094,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,5.280,0.790

In [243]:
time[time['Lifetime (ns)'] < 2000.00]

,Chromophore,Solvent,Lifetime (ns),Quantum yield
0,O=C([O-])c1ccccc1-c1c2ccc(=O)cc-2oc2cc([O-])ccc12,O,4.160,0.950
1,O=C([O-])c1ccccc1C1=c2cc3c4c(c2Oc2c1cc1c5c2CCC...,CO,4.590,1.000
2,O=C([O-])c1ccccc1-c1c2cc(Br)c(=O)c(Br)c-2oc2c(...,O,1.425,0.200
3,O=C([O-])c1ccccc1-c1c2cc(I)c(=O)c(I)c-2oc2c(I)...,O,0.115,0.020
4,O=C([O-])c1c(Cl)c(Cl)c(Cl)c(Cl)c1-c1c2cc(I)c(=...,O,0.095,0.018
...,...,...,...,...
6090,O=C1c2ccccc2-c2nc3ccccc3n21,ClCCl,5.100,0.040
6091,O=C1c2ccccc2-c2nc3c(F)c(F)c(F)c(F)c3n21,ClCCl,9.500,0.220
6092,O=C1c2ccccc2C2=Nc3cccc4cccc(c34)N12,ClCCl,0.860,0.020
6093,c1cc2c3c(c1)-c1cccc4cccc(c14)B3c1cccc3cccc-2c13,Cc1ccccc1,6.310,0.900
6094,c1cc2c3c(c1)-c1ccc4c5c(ccc(c15)B3c1ccc3c5c(ccc...,Cc1ccccc1,5.280,0.790